<a href="https://colab.research.google.com/github/Saurav8431/BODY-MASS-INDEX/blob/main/Titanic%20Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
import numpy as np

In [6]:
df = pd.read_csv("Titanic-Dataset.csv")
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [7]:
table = pd.crosstab(df['Sex'], df['Survived'])
print(table)

Survived    0    1
Sex
female     81  233
male      468  109

In [8]:
import seaborn as sns

In [9]:
df = pd.read_csv("Titanic-Dataset.csv")

joint_prob = pd.crosstab(
    df['Sex'],
    df['Survived'],
    normalize=True
)

print(joint_prob)

Survived         0         1
Sex
female    0.090909  0.261504
male      0.525253  0.122334

In [11]:
df = pd.read_csv("Titanic-Dataset.csv")

# Joint probability distribution of 3 variables
joint_prob = pd.crosstab(
    [df['Pclass'], df['Sex']],
    df['Survived'],
    normalize=True
)

print(joint_prob)

Survived              0         1
Pclass Sex
1      female  0.003367  0.102132
       male    0.086420  0.050505
2      female  0.006734  0.078563
       male    0.102132  0.019080
3      female  0.080808  0.080808
       male    0.336700  0.052750

In [12]:
df = pd.read_csv("Titanic-Dataset.csv")

joint_prob = pd.crosstab(
    df['Pclass'],
    df['Survived'],
    normalize=True  # divides by total observations
)

print(joint_prob)

Survived         0         1
Pclass
1         0.089787  0.152637
2         0.108866  0.097643
3         0.417508  0.133558